<html>
	<head>
		<title>Moon's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Moon's Blog</a></h1>
		</div>
		{% for post in posts %}
			<div>
				<p>published: {{post.published_date}}</p>
				<h2><a href="">{{post.title}}</a></h2>
				<p>{{post.text|linebreaksbr}}</p>
			</div>
		{% endfor %}

		<!--
		<div>
			<p>published: 04 Jul 2016, 18:52</p>
			<h2><a href="">My first post</a></h2>
			<p>aerospike 엔진을 만들어서 발사체 제조, 엔진 판매, 발사 서비스, 위성 제조, 위성 판매, 지구관측 빅데이터 서비스, 활용분야까지의 수직 계열화를 꿈꾼다. 10년 안에.</p>
		</div>

		<div>
		
			<p>published: 04 Jul 2016, 18:55</p>
			<h2><a href="">My second post</a></h2>
			<p>그 전에 디지털 제어를 숙지해서 hovering이 가능한 Masten의 기술과 같은 것을 보여준다.</p>
		</div>
		-->
	</body>
</html>